@import "./main.css"; 

*{
    margin:0;
    padding:0;
    font-family:"Poppins",sans-serif;
    box-sizing: border-box;
    
    
}
body{
    background:var(--main-bg);
    display:flex;
}
.card{

    background:linear-gradient(135deg,#00feba,#5b548a);
    width:300px;
    max-width:100%;
    /* min-width: 30%; */
    /* height:10px; */
    color:#fff;
    margin:100px auto 0;
    border-radius:  7px;
    padding:5% 20px 20px;
    text-align:center; 
    padding-top:2%;
    /* display:grid; */

    /* align-items:center;
    justify-content:center; */

}
.search{
    
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  
 

}

.search button img{
    height:100%;
    width:90%;
    display:flex;
    
}
.search input{
    border-radius:30px;
    border:0px;
    background:#ebfffc;
    color:var(--placeholder);
    font-size:12px;
    padding:1dvh 1dvw;
    flex:1;
    margin-right:10px;
    outline:0;
}

.search button{
   outline:0px;
    border:0px;
    background:#ebfffc;
    border-radius:50%;
    padding:5px;
    height:18px;
    width:18px;
    display:flex;
    align-items:center;
    cursor:pointer;

}
.weather{
   width:200px;
    height:20%;
    align-items: center;
    justify-content: center;
    

}
.weather-icon{
    width:120px;
    margin-top:30px;
}
.weather
.weather h1{
    font-size:40px;
    font-weight:100;
    margin-top: 30px;

}

.weather h2{
    font-size:30px;
    font-weight:400;
    margin-bottom:-10px;

}
.details{
    align-items:center;
    justify-content:space-around;
    gap:90px;
    padding:0 20px;
    display:flex;
    margin-top:70px;
  
}

.details .col img{
   height:50px;
}
.details .col{
    display:flex;
    align-items:center;
    flex-wrap: wrap;


}
/* .details .col {
    flex:1;
    align-items: center;
    justify-content:flex-start;
    width:10px;
    display: inline;
} */
